img {
margin-top:350px;
margin-bottom:350px;
border-radius:70px;
}

div img {
  display: block;
  width: 45%;
  margin: 2%;
  align-items: center;
  justify-content: center;
}

button {
  color: black;
  background-color: white;
  border-radius:70px;
  display:block;
  font-size:50px;
}

a {
	text-decoration: none;
}