body {
 background-color:#000000;
}

img {
margin-top:350px;
margin-bottom:350px;
}

div img {
  display: inline-block;
  /* width: 20%; */
  height: 75vh;
  margin: 2%;
  align-items: center;
  justify-content: center;
}

button {
  color: black;
  background-color: white;
  border-radius:18px;
  display: inline-block;
  margin: 0px 20px;
  padding: 15px 20px;
  font-size:50px;
}

a {
	text-decoration: none;
}